@model EducateMe.Web.ViewModels.Home.EventDetailsViewModel

<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <img width="100%" height="500px" id="main-image" src="@Model.ImageUrl"/>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col">
                                <p class="mx-2 mt-2 fw-bold" style="font-size: 20px">
                                    Име:
                                    <span class="fw-light">@Model.Name</span>
                                </p>
                                <p class="mx-2 mt-2 fw-bold" style="font-size: 20px">
                                    Интереси:
                                    <span class="fw-light">@string.Join(", ", Model.Interests)</span>
                                </p>
                                <p class="mx-2 mt-2 fw-bold" style="font-size: 20px">
                                    Категории:
                                    <span class="fw-light">@string.Join(", ", Model.Categories)</span>
                                </p>
                                <p class="mx-2 mt-2 fw-bold" style="font-size: 20px">
                                    Описание:
                                    <span class="fw-light">@Model.Description</span>
                                </p>
                                <p class="mx-2 fw-bold" style="font-size: 20px">
                                    Години:
                                    <span class="fw-light">@Model.MinAge - @Model.MaxAge</span>
                                </p>
                                <p class="mx-2 fw-bold" style="font-size: 20px">
                                    Начална дата:
                                    <span class="fw-light">@Model.StartDate.Date.ToString("d")</span>
                                    Крайна дата:
                                    <span class="fw-light">@Model.EndDate.Date.ToString("d")</span>
                                </p>
                                <p class="mx-2 fw-bold" style="font-size: 20px">
                                    Локация:
                                    <span class="fw-light">@Model.City</span>
                                </p>

                                <p class="mx-2 fw-bold" style="font-size: 20px">
                                    Линк за формуляр:
                                    <a target="_blank" href="@Model.ApplicationUrl" class="fw-light"> [тук]</a>
                                </p>

                                <p class="mx-2 mt-5 fw-bold" style="font-size: 20px">
                                    Име на организация:
                                    <span class="fw-light">@Model.OrganizationName</span>
                                </p>
                                <p class="mx-2 fw-bold" style="font-size: 20px">
                                    Описание на организация:
                                    <span class="fw-light">@Model.Description</span>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>